// Файл 1: Например, auth.scss или login.scss

@use '../variables' as *;

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-btn {
  padding: map-get($spacing, "md") map-get($spacing, "lg");
  background-color: var(--primary);
  color: var(--bg-light);
  border: none;
  border-radius: map-get($border-radius, "full");
  cursor: pointer;
  font-size: 1rem;
  transition: $transition;

  &:hover {
    background-color: var(--bg-dark);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

#app {
  min-height: 100vh;
  background-color: var(--bg-light);
  transition: $transition;
}